.h3{
    background-color: rgb(245, 125, 12);
    margin: 0px;
    font-size: 20px;
    width: 100%;
    padding-top: 10px;
    color: white;
    }
    body{
        background-size: cover;
     
     }
     .note{
         font-size: 15px;
         color: black;
     }
     
     
     
     
     .playbutton{
         margin: 20px;
         background-color: rgb(235, 77, 29);
         width: 150px;
         padding: 5px;
         font-size: 20px;
         color: white;
     
     }
     
     canvas{
     border: 2px solid black;
     border-radius: 10px;
     margin: 60px;
     }